{% set active_page = "about" %}

{% extends 'admin_layout.html' %}

{% block admin %}
<div style="height:100vh;">

    <p>
    This is just about alambi and Dominic DiTaranto<br>
    I will put links and shit here...<br>
    whatever whatever<br>
         This is just about alambi and Dominic DiTaranto<br>
    I will put links and shit here...<br>
    whatever whatever<br>
         This is just about alambi and Dominic DiTaranto<br>
    I will put links and shit here...<br>
    whatever whatever<br>
         This is just about alambi and Dominic DiTaranto<br>
    I will put links and shit here...<br>
    whatever whatever<br>
        v


</p>

</div>


{% endblock %}