{% extends "layout.html" %}
{% block script %}
{% endblock %}
{% block main %}
<main>
    <div class="container">

        {# Main Content #}
        <div class="row">

            {# Include the sidebar on the left of main page if chosen in the settings #}
            {% if sidebar_settings.main_position == 1 %}
            <div class="col-md-4">{% include 'sidebar.html' %}</div>
            {% endif %}

            {# this is the div for the content of the blog posts #}
            {# if statement below will make the blog post the full page if sidebar layout option is "None" #}
            <div class="{{ 'col-md-12' if sidebar_settings.main_position == 3 else 'col-md-8' }}">
                {% include 'post_on_main.html' %}
            </div>

            {# Include the sidebar on the right of main page if chosen in the settings #}
            {% if sidebar_settings.main_position == 2 %}
            <div class="col-md-4">{% include 'sidebar.html' %}</div>
            {% endif %}

        </div>

        {# Handle pagination #}
        <div class="row container mt-3">
            <div id="paginate container ">

                {% for page_num in posts.iter_pages() %}
                    {% if page_num %}
                        {% if page_num == posts.page %}
                            <a class="btn btn-custom active" style="opacity:0.75;">{{page_num}}</a>
                        {% else %}
                            <a href="{{url_for('main.index', page=page_num)}}" class="btn btn-custom">{{page_num}}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</main>

{% endblock %}