{% set active_page = "users" %}

{% extends 'admin_layout.html' %}

{% block admin %}

<h4>Current Users </h4>

{% for user in users %}

<li class="mb-2">
    {{user.email}}
    {% if loop.index == 1 %}
    <i class="ml-3 fas fa-user-lock"></i> <b>Admin Account</b>
    {% else %}
    <button class="ml-3 btn btn-info btn-sm" data-toggle="modal" data-target="#modal_{{user.id}}">Delete User</button>
    {% endif %}
</li>

<div class="modal fade" id="modal_{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="color:black;" class="modal-title" id="exampleModalLabel">Delete User?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <center>
            <strong class="text-danger">
                Are you sure you want to delete this user?
            </strong>
          </center>
            <br>

      </div>
      <div class="modal-footer">
        <a type="button" href="{{url_for('delete_item', item_id=user.id, table='user', location='manage_users')}}" class="btn btn-danger">Delete User</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


{% endfor %}



<form method="POST" action="" class="mt-5" style="max-width:500px;">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create a New User</legend>
        <div class="new_admin">
        <div class="form-group ">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control form-control-sm") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control form-control-sm") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label(class="form-control-label") }}
            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="form-control form-control-sm") }}
            {% endif %}
        </div>
            </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
    </div>

</form>
{% endblock %}