{% extends "layout.html" %}
{% block script %}
{% endblock %}
{% block main %}

<main>

    <div class="container">

        <div class="row">

            {% if sidebar_settings.post_position == 1 %}

            <div class="col-md-4">
                {% include 'sidebar.html' %}

            </div>

            {% endif %}

            <div class="{{ 'col-md-12' if sidebar_settings.post_position == 3 else 'col-md-8' }}">

                <div class="blog-post-container border rounded mb-3">

                    {% if current_user.is_authenticated %}
                    <div class="float-right">
                        <a href="{{url_for('main.sticky', post_id=post.blog_id)}}">
                            <i class="fas fa-thumbtack {{ 'sticky-clicked' if post.sticky else 'sticky'}}"></i>
                        </a>
                    </div>
                    {% endif %}



                    <h1>{{post.name|safe}}</h1>


                <small>{{post.date.strftime('%m/%d/%Y %I:%M')|safe}} by {{general_settings.author}}</small>

                    <div class="float-right">
                        <a href="{{url_for('main.like', post_id=post.blog_id)}}"><i class="fas fa-thumbs-up {{ 'thumb-up' if like else 'thumb'}}"></i>
                        </a>
                        {{ post.like if post.like >= 1 else ''}}
                    </div>

                <small>
                    {% if current_user.is_authenticated %}

                        <a href="{{url_for('admin.update', post_id=post.blog_id)}}">
                            Edit
                        </a>
                        |
                        <a href="{{url_for('admin.delete_item', item_id=post.blog_id, table='blog', location='main.index')}}">
                            Delete
                        </a>

                    {% endif %}


                </small>
                <hr>
                <p>
                    {{post.text|safe}}

                </p>



                    <small>
                        <b>Category</b>:
                            <a href="{{url_for('main.query', term=post.category)}}">{{post.category}}</a><br>

                            <b>Tags:</b>
                                {% for tag in post.tags %}
                                    <a href="{{url_for('main.query', term=tag.name)}}">{{tag.name}}</a>{%if not loop.last%}, {%else%} {%endif%}
                                {% endfor %}
                    </small>

                <hr>
                {% if general_settings.comments %}
                <h3 class="underline">Comments({{post.comment_count}}):</h3>

                    {% if comments %}

                        {% for comment in comments %}

                        <div class="pt-3 pr-3 pl-3 border-bottom">
                            <h4 style="margin-bottom:-10px;">{{comment.name}}</h4>

                            <small>{{comment.date.strftime('%m/%d/%Y %I:%M')}}</small>

                            {% if comment.email %}
                            <small>{{comment.email}}</small>
                            {%endif%}




                            {% if current_user.is_authenticated %}
                                <small>
                                    <a href="{{url_for('admin.delete_item', item_id=comment.id, table='comment', location=main.post.blog_id)}}">
                                    Delete
                                    </a>
                                </small>

                            {% endif %}

                            <p>
                                {{comment.text|safe}}

                            </p>


                        </div>

                        {% endfor %}
                    {% else %}

                    <center>
                        <p>Be the first to leave a comment!</p>

                    </center>



                    {% endif %}



                    <form id="comment" action="" class="mt-3 mb-5" method="POST" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4 mt-3">Leave a Comment:</legend>

                                    <div class="form-group">
                                        {{ form.name.label(class="form-control-label") }}
                                        {{ form.name(class="form-control form-control-sm") }}
                                        {% if form.name.errors %}
                                            {% for error in form.name.errors %}
                                                <span class="text-danger">{{ error }}</span></br>
                                            {% endfor %}
                                        {% endif %}
                                    </div>


                                    <div class="form-group">
                                        {{ form.email.label(class="form-control-label") }}:
                                        {{ form.email(class="form-control form-control-sm") }}
                                        {% if form.email.errors %}
                                            {% for error in form.email.errors %}
                                                <span class="text-danger">{{ error }}</span></br>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="form-group">
                                        {{ form.text.label() }}
                                        {{ form.text(class="form-control-file") }}
                                        {% if form.text.errors %}
                                            {% for error in form.text.errors %}
                                                <span class="text-danger">{{ error }}</span></br>
                                            {% endfor %}
                                        {% endif %}
                                    </div>

                                    <div class="form-group float-left ">
                                        {{recaptcha}}

                                    </div>

                        </fieldset>
                        <div class="form-group">
                            {{ form.comment_submit(class="btn btn-custom") }}
                        </div>
                    </form>

                {% endif %}


                        <div class="container">

                        <div class="row">
                            <div class="align-left">
                                {% if prev_post %}
                                    <b>Previous Post</b>
                                {% endif %}
                            </div>
                            <div class="align-right" style="margin-left:auto;">
                                {% if next_post %}
                                    <b>Next Post</b>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="align-left">
                                {% if prev_post %}
                                    <a href="{{url_for('main.post', post_id=prev_post.blog_id)}}">{{prev_post.name}}</a>
                                {% endif %}

                            </div>
                            <div class="align-right" style="margin-left:auto;">
                                {% if next_post %}
                                    <a href="{{url_for('main.post', post_id=next_post.blog_id)}}">{{next_post.name}}</a>
                                {% endif %}

                            </div>

                        </div>

                    </div>

                    </div>

            </div>

            {% if sidebar_settings.post_position == 2 %}

            <div class="col-md-4">
                {% include 'sidebar.html' %}

            </div>

            {% endif %}

        </div>


    </div>

</main>

{% endblock %}