{% extends "layout.html" %}
{% block script %}
{% endblock %}
{% block main %}
<main>

    <div class="container">

        <div class="row">

            {# Include the sidebar on the left of main page if chosen in the settings #}
            {% if sidebar_settings.main_position == 1 %}
            <div class="col-md-4">{% include 'sidebar.html' %}</div>
            {% endif %}

            <div class="{{ 'col-md-12' if sidebar_settings.post_position == 3 else 'col-md-8' }}">
                {% include 'post_on_query.html' %}
            </div>

            {# Include the sidebar on the right of main page if chosen in the settings #}
            {% if sidebar_settings.main_position == 2 %}
            <div class="col-md-4">{% include 'sidebar.html' %}</div>
            {% endif %}

        </div>

    </div>

</main>



{% endblock %}